<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dummy Newsletter</title>
</head>
<body>
  <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;">
    <tr>
      <td>
        <h1 style="text-align: center;">Our Latest Newsletter</h1>
        <p>Dear Subscriber,</p>
        <p>We are excited to bring you the latest updates and news from our organization. Below you will find the highlights</p>
        <p><%= @template.description %></p>
        <p>Thank you for being a valued subscriber!</p>
        <p>Sincerely,<br> Dummy Company</p>
        <p>To Stop getting newsletter, click on the <a href="<%= unsubscribe_url(subscriber.id) %>">Unsubscribe</a></p>
      </td>
    </tr>
  </table>
</body>
</html>
