<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newsletter Subscription</title>
  <style>
    /* Add your custom styles here */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    .header {
      text-align: center;
      margin-bottom: 20px;
    }
    .content {
      margin-bottom: 20px;
    }
    .footer {
      text-align: center;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Subscribe Link</h1>
    </div>
    <div class="content">
      <p>Dear User,</p>
      <p>If you want to subscribe to our newletter then please click on the below button</p>
      <br>
      <a href="<%= register_url %>" target="_blank" style="padding: 12px 18px; border-radius: 4px; font-size: 16px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; background-color: #007bff;">
        Subscribe
        </a>

    </div>
    <div class="footer">
      <p>If you have any questions or concerns, please don't hesitate to contact us.</p>
      <p>Best regards,<br> Dummy Company</p>
    </div>
  </div>
</body>
</html>
